.body {
    margin: 3rem auto;
    background-color: aquamarine;
    max-width: 45rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 6px #ccc;
}


.form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.form label{
    display: block;
}

@media (max-width : 760px) {
    .form{
        flex-direction: column;
    }

    .body{
        margin: 2rem 1rem;
    }
}